*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h1, h2, h3, h4 {
    margin: 0;
    line-height: 1.1;
    font-family: 'Barlow', 'Times New Roman', Times, serif;
}

p {
    margin: 0;
    line-height: 1.8;
}

a, a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}