
@font-face {
    font-display: swap; 
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/barlow-v12-latin-600.woff2') format('woff2'),
         url('../../assets/fonts/Barlow-Medium.ttf') format('truetype');
  }
@font-face {
    font-display: swap; 
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/fraunces-v31-latin-700.woff2') format('woff2'),
    url('../../assets/fonts/Fraunces_72pt-SemiBold.ttf') format('truetype'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../../assets/fonts/fraunces-v31-latin-900.woff2') format('woff2'),
    url('../../assets/fonts/Fraunces_72pt-Black.ttf') format('truetype'); 
}