:root {
    // Color
    --l-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --f-green: hsl(167, 45%, 70%);
    --l-green: hsl(168, 34%, 41%);
    --d-green: hsl(167, 40%, 24%);
    --m-blue: hsl(200, 100%, 62%);
    --l-blue: hsl(198, 62%, 26%);
    --d-blue: hsl(212, 27%, 19%);
    --l-grey: hsl(210, 4%, 67%);
    --m-grey: hsl(232, 10%, 55%);
    --d-grey: hsl(213, 9%, 39%);
    --white: hsl(0, 0%, 100%);
}